# Git ユーザー設定
GIT_USER_EMAIL=
GIT_USER_NAME=
# GitHub Personal Access Token
GH_TOKEN=
# タイムゾーン
TZ=Asia/Tokyo
# Mac の場合は基本的に "arm64v8/"
# Windows の場合は基本的に "amd64/"
IMAGEARCH=arm64v8/
# Context7 API キー
CONTEXT7_API_KEY=
# claude-proxy用
ANTHROPIC_BASE_URL=https://proxy.bar504.net
ANTHROPIC_API_KEY=
